#///////////////////////////////////////////////////////////////////////////
#/
#/  VLIB Source File.
#/  Copyright (C) 2024 S/N: V-01
#/ -------------------------------------------------------------------------
#/  File name:   .gitignore
#/  Version:     v1.00
#/  Created:     29/05/24 by V.
#/  Description: 
#/ -------------------------------------------------------------------------
#/  This project is licensed under the MIT License
#/
#///////////////////////////////////////////////////////////////////////////

.vmake
bin/*
